body {
    background-color: #f5eee9;
    margin-top: 50px;
    font-family: Roboto, sans-serif;
}

.intro {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-bottom: 50px;
}

nav {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    display: flex;
}

ul {
    list-style: none;
}

nav ul li a {
    margin: 20px;
    font-size: 25px;
    font-weight: normal;
}

#heading {
    font-size: 30px;
    margin-right: auto;
    margin-left: 2em;
}

h1 {
    font-size: 30px;
    color: #7c87d9;
    text-align: center;
}

li>a {
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 30px;
    color: #a27866;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-variant-caps: all-small-caps;
    padding: 20px 0px;
    color: white;
}

h4 {
    color: #6e1e46;
    font-size: 20px;
    font-weight: bold;
    }

h5, h6 {
    text-align: center;
    font-weight: bold;
}

h6 {
    font-size: 25px;
    color: #646080;
}

h3+p {
    font-size: 15px;
    text-align: center;
}

header+section {
    color: white;
    background-color: #e26767;
    padding: 1em;
    font-size: 20px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

ol {
    line-height: 32px;
    color: #01016f;
}

p {
    line-height: 28px;
}

p a {
    color:#ffd887;
    font-weight: bold;
}

hr {
    width: 1100px;
    color: #c8c8c8;
    margin: 50px auto 40px auto;
}

img+p {
    font-weight: bold;
}

h5+p {
    font-style: italic;
    text-align: center;
    color: #808080;
}

figure {
    margin: 3em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

div p {
    color: #545454;
    line-height: 18px;
    width: 350px;
}

figcaption {
    text-align: center;
    color: #676767;
}

img {
    margin: 1em;
}

footer {
    color: #ee7672;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

footer a {
    color: #666961;
    font-variant-caps: all-small-caps;
    margin: 1em;
    font-size: 28px;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardimg {
    margin: 0em;
}

.arttext {
    color: black;
    line-height: 30px;
    font-size: 15px;
    height: 250px;
}

.artfig {
    margin: 0em;
    display: inline;
}

.diva {
    background-color: white;
    margin: 2em;
    border-radius: 25px;
    padding: 1.5em;
    width: 700px;
    display:inline-flex;
}

.project-label {
    color:#a3a3a3;
}

#singular {
    background-color: white;
    margin: 2em;
    border-radius: 25px;
    padding: 1.5em;
    display: inline-flex;
}

#character_art {
    background-color: #ec77b8;
}

#design {
    background-color: #8fe8c7;
}

#art {
    background-color: #fea447
}

#sketch {
    background-color: #6a9469
}

#aboutsection {
    width: 70%;
    margin: 5em auto 4em;
}

#edge {
    margin-right: 0em;
}

#about-p {
    display: inline-block;
    margin-left: 4em;
}

#about-p p {
    line-height: 25px;
    width: 450px;
}

#profile {
    width: 401px;
    height: 430px;
    vertical-align: top;
}

* {
  box-sizing: border-box;
}
